
body {
    color: #718ff1 ;
    background-color: rgb(251, 216, 252);
}
h1, h2 {
    color: rgba(66, 76, 209, 0.753);
    font-size: 50px;
    font-family: "papyrus";
    text-align: center;
    text-shadow: 2px 2px lightgrey; 
}
p { 
    background-color: rgb(251, 216, 252);
    color: red;
    text-align: center;
    font-family: 'Papyrus';
    text-shadow: 2px 2px lightpink
}
div.container {    
    text-align: center;
    padding: 10px 20px;
}
div.photo1 {
    border:rgb(0, 0, 0); 
    border-width: 30px;
    width: 50%;
    color: rgb(26, 129, 98);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
    align-content: stretch;
    padding-right: 0%;
    float: right; 
    margin-left: 50px;
}
.list {
    border-style:dashed; 
    color: brown;
}
#ass {text-align: left;
}
#bf {
    height:50%; 
    width: 98%;
    padding: 5px;
}
#enjoy {
    color:rgb(0, 0, 0);
}
#SarahGao{ 
    border-style: solid; 
    box-shadow:rgba(0, 0, 0, 0.19);
    padding-right: 0%;
    width: 50%;
}
#polaroidtxt{
    background-color: white;
    color: black;
}
